<div class="absolute bottom-0 top-0 w-full md:overflow-hidden lg:px-16">
  <img
    src="/rectangle.svg"
    class="absolute left-0 top-0 z-10 h-full w-full rotate-180 [object-fit:cover] md:rotate-0"
    alt="transparent to black"
  />

  <div
    class="relative flex translate-y-[20vh] items-center justify-center sm:translate-y-[10vh] md:translate-y-[35vh]"
  >
    <div
      class="border-decoration-border bg-decoration-bg absolute aspect-square w-[calc(100%+200px)] rounded-full border md:w-full"
    >
    </div>
    <div
      class="border-decoration-border bg-decoration-bg absolute aspect-square w-[calc(100%+200px+150px*1)] rounded-full border md:w-[calc(100%-200px*1)]"
    >
    </div>
    <div
      class="border-decoration-border bg-decoration-bg absolute aspect-square w-[calc(100%+200px+150px*2)] rounded-full border md:w-[calc(100%-200px*2)]"
    >
    </div>
  </div>
</div>
