---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<a
  href={href}
  type="button"
  class="rounded-md border-2 border-yt-red bg-yt-red/20 px-5 py-2 transition-colors hover:bg-yt-red/30"
>
  {text}
</a>
