<footer
  class="flex h-[120px] flex-col items-center justify-center gap-1 border-t border-white"
>
  <span
    >Designed and develop by <a
      href="https://twitter.com/JeegsCreator"
      class="underline"
      target="_blank">Jeegs</a
    >.</span
  >
  <div class="flex gap-3">
    <a
      href="https://twitter.com/JeegsCreator"
      class="flex flex-col items-center gap-1"
      target="_blank"
    >
      <img src="/icons/twitter.svg" alt="twitter icon" />
      <!-- <span class="text-muted text-xs">twitter</span> -->
    </a>
    <a
      href="https://github.com/JhonnGutierrez/clean-youtube"
      class="flex flex-col items-center gap-1"
      target="_blank"
    >
      <img src="/icons/github.svg" alt="github icon" />
      <!-- <span class="text-muted text-xs">github</span> -->
    </a>
  </div>
  <a class="text-white/50 underline" href="/privacy"> Privacy Policy</a>
</footer>
